.vscode/**
.vscode-test/**
node_modules/**
packages/**
out/**
src/**
scripts/**
test_workspace/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.prettierignore
.gitignore
vsc-extension-quickstart.md
AGENTS.md
*.config.*
